/* START RESET */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --color-bg-primary: #1a1818;
  --color-bg-secundary: #c4c4c4;
  --color-bg-header: rgba(196, 196, 196, 4%);
  --color-text: #c4c4c4;
  --color-text-secundary: #1a1818;
}

body {
  background-color: var(--color-bg-primary);
  position: relative;
}

/* END RESET */

/* START HEADER */

.header-container {
  width: 100%;
  height: 6rem;
  background-color: var(--color-bg-header);
  border-radius: 0 0 50px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 3;
}

.logo {
  margin-left: 2rem;
}

.logo a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 3rem;
}

.logo span {
  font-style: italic;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.item-menu {
  list-style: none;
}

.item-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 0.5rem;
  position: relative;
}

.item-menu a::after {
  content: ' ';
  width: 0%;
  height: 0.1rem;
  background-color: var(--color-text);
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  transition: 0.5s;
}

.item-menu a:hover::after {
  width: 100%;
}

.icon-social {
  display: flex;
  gap: 0 0.2;
  margin-right: 2rem;
}

/* START HEADER RESPONSIVE 1000PX */

@media screen and (max-width: 1000px) {
  .logo {
    margin-left: 0.5rem;
  }

  .logo a {
    font-size: 2rem;
  }

  .menu {
    gap: 0.5rem;
  }

  .item-menu a {
    font-size: 1rem;
  }

  .icon-social {
    margin-left: 1rem;
  }
}

/* END 1000PX */

/* START RESPONSIVE HEADER 700PX */

@media screen and (max-width: 700px) {
  .header-container {
    height: 7rem;
    gap: 0 2rem;
    align-items: center;
    justify-content: center;
  }

  .menu {
    gap: 0 0.5rem;
  }

  .icon-social {
    margin-right: 0;
  }
}

/* END RESPONSIVE 700PX */

/* START RESPONSIVE 550PX */

@media screen and (max-width: 550px) {
  .header-container {
    height: auto;
  }
}

/* END RESPONSIVE 550PX */

/* END HEADER */

/* START MAIN */

.section-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.down {
  position: absolute;
  bottom: 1rem;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 8rem;
}

#home h1 {
  font-size: 8rem;
  color: var(--color-text);
  margin: 0;
  line-height: 7rem;
}

#home h2 {
  font-size: 6rem;
  background-color: var(--color-bg-secundary);
  color: var(--color-text-secundary);
  padding: 0 8rem;
  border-radius: 0 0 1.25rem 1.25rem;
}

/* START RESPONSIVE 1000PX HOME */

@media screen and (max-width: 1000px) {
  #home {
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  #home h1 {
    font-size: 5rem;
  }

  #home h2 {
    font-size: 3rem;
  }
}

/* END RESPONSIVE HOME */

/* START RESPONSIVE HOME 550PX */

@media screen and (max-width: 550px) {
  #home h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  #home h2 {
    font-size: 1.5rem;
    padding: 0 6rem;
  }
}

/* END RESPONSIVE 550PX */

/* START RESPONSIVE SKILLS */

#skills {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-Skills {
  color: var(--color-text);
  font-size: 3rem;
}

#tecnology {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

#tecnology p {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18rem;
  height: 18rem;
  background-color: var(--color-bg-secundary);
  border-radius: 50%;
  font-size: 6rem;
  font-weight: bolder;
}

.javascript {
  font-size: 9rem !important;
}

/* START RESPONSIVE SKILLS 1000PX */

@media screen and (max-width: 1000px) {
  #tecnology {
    gap: 1rem;
  }

  #tecnology p {
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
  }

  .javascript {
    font-size: 6rem !important;
  }
}

/* END RESSPONSIVE SKILLS */

/* START SKILLS RESPONSIVE 550PX */

@media screen and (max-width: 550px) {
  #tecnology {
    gap: 0.5rem;
  }

  #tecnology p {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
  }

  .javascript {
    font-size: 4rem !important;
  }
}

/* END SKILLS RESPONSIVE 550PX */

/* START  PROJETOS */

#projetos {
  width: 100%;
  padding-top: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projetos h2 {
  font-size: 4rem;
  color: var(--color-text);
  line-height: 0.5rem;
}

.img-projetos {
  max-width: 50%;
}

/* START PROJETOS RESPONSIVE 1000PX */

@media screen and (max-width: 1000px) {
  #projetos h2 {
    font-size: 2.5rem;
  }
}

/* END RESPONSIVE PROJETOS */

/* START PROJETOS RESPONSIVE 550PX */

@media screen and (max-width: 550px) {
  #projetos h2 {
    font-size: 2rem;
  }
}

/* END PROJETOS RESPONSIVE 550PX */

/* START RESPONSIVE CONTATO 1000PX */

#contato {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 3rem;
  background-color: var(--color-bg-secundary);
  border-radius: 3rem;
  text-decoration: none;
}

.contato-whatsapp h2 {
  font-size: 5rem;
  color: var(--color-text-secundary);
}

/* START CONTATOS RESPONSIVE 1000PX */

@media screen and (max-width: 1000px) {
  .contato-whatsapp h2 {
    font-size: 3rem;
  }

  .contato-whatsapp img {
    width: 20%;
  }
}

/* START CONTATOS RESPONSIVE 550PX */

@media screen and (max-width: 550px) {
  .contato-whatsapp {
    padding: 0.5rem 1.5rem;
  }
  .contato-whatsapp h2 {
    font-size: 3rem;
  }

  .contato-whatsapp img {
    width: 20%;
  }
}

/* END CONTATOS RESPONSIVE */

/* END MAIN */
