* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*Start header*/
.header-container,
.main-container {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
.header-logo {
  max-width: 100%;
  display: block;
  padding: 0 4.5rem;
}

.header-nav-menu {
  display: flex;
  padding: 0 1rem;
}
.header-nav-menu li {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.header-nav-menu li a {
  color: #141414;
  padding: 0.25rem 0.25rem;
}

.header-social {
  display: flex;
  justify-content: center;
}
/* END HEADER */
/* START ABOUT */
.main-about {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.main-about h1 {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.main-about h2 {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
}

.main-about p {
  font-size: 1.5rem;
}
/* END ABOUT */
/* START SKILLS */

/* END SKILLS */
