* {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

/* PADRAO PARA TODOS OS CONTAINERS */
.header-container,
.main-container,
.main-skills,
.main-project {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
/* PADRAO PARA TODOS OS CONTAINERS */

/*Start header*/
.header-logo {
  max-width: 100%;
  display: block;
  padding: 0 4.5rem;
}

.header-nav-menu {
  display: flex;
  padding: 0 1rem;
}
.header-nav-menu li {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.header-nav-menu li a {
  color: #141414;
  padding: 0.25rem 0.25rem;
}

.header-social {
  display: flex;
  justify-content: center;
}
/* END HEADER */
/* START ABOUT */
.main-about {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.main-about h1 {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.main-about h2 {
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;
}

.main-about p {
  font-size: 1.5rem;
  width: 40ch;
  text-align: center;
}
/* END ABOUT */
/* START SKILLS */
.main-skills h2 {
  font-size: 3rem;
}

.main-skills h3 {
  font-size: 1.5rem;
}

.skills-master {
  margin: 1rem 2rem;
}
/* END SKILLS */

/* START PROJECT */
.main-project h2 {
  font-size: 3rem;
}

.project-clients {
  display: flex;
  gap: 40px;
}

.project-clients-itens {
  width: 300px;
}

.project-clients-itens img {
  max-width: 100%;
  max-height: 35%;
}

.project-clients-itens p {
  font-size: 1.2rem;
  font-weight: 1.2;
}

.project-clients-itens p span {
  font-size: 1.3rem;
  font-weight: 700;
}

.project-clients-itens button {
  display: block;
  border: none;
  border-radius: 6px;
  padding: 4px 5px;
  background: #141414;
}

.project-clients-itens button a {
  color: #fff;
  font-size: 1rem;
  padding: 2px;
}

/* END PROJECT */

/* START FOOTER */
footer p {
  font-size: 1.2rem;
  text-align: center;
}
/* END FOOTER */
